.pager {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  font-family: 'IBM Plex Mono', monospace;
  background-color: #87f54e;
  border: 0;
  padding: 10px 30px;
  border-radius: 20px;
  margin: 12px 0;
  cursor: pointer;
}

.pager__buttons {
  display: flex;
  gap: 20px;
}
