.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error__title {
  font-size: 28px;
}

.error__image {
  max-width: 200px;
}

@media (min-width: 768px) {
  .error__title {
    font-size: 34px;
  }

  .error__image {
    max-width: 300px;
  }
}
